.header__logo-menu {
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    display: flex;
}


@media (max-width: 770px) {
    .header__logo-menu {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.header__container {
    align-items: center;
    display: flex;
    justify-content: space-around;

}

.header__contacts {
    background: linear-gradient(90deg, #ff3c42 0%, #ff573c 100%);
    align-items: center;
    height: 50px;

}

.header__language-block {
    align-items: center;
    display: flex;

}


@media (max-width: 990px) {

    .header__contacts,
    .header__menu {
        display: none;
    }
}


.header__tel {
    padding: 0;
}

.header__tel a {
    color: white;
    text-decoration: none;
}

.header__tel a:hover {
    color: blue;
}


.header__language {
    height: 10px;
    padding: 0;
    display: flex;
}

.language__triangle {
    transform: rotate(180deg);
    color: white;
}

.header__social {

    height: 10px;
    padding: 0;
}

.header__logo-menu {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__nav {
    display: flex;
}

.header__logo {
    padding: 0;
}

.header__menu {
    padding: 0;
}

.header__menu a {
    color: black;
    text-decoration: none;
}

.header__logo img {
    width: 170px;
}

.header__menu a:hover {
    border-bottom: solid 2px #ff3c42
}