.carousel {
  position: relative;
}

.carousel__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__prev-button,
.carousel__next-button {
  padding: 10px;
  background-color: #f98250;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.carousel__slides {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.carousel__slide-content {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.carousel__slide-content h2 {
  margin-top: 0;
}

.carousel__slide-content p {
  margin-bottom: 0;
}

.carousel {
    position: relative;
  }
  
  .carousel__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .carousel__prev-button,
  .carousel__next-button {
    padding: 10px;
    background-color: #f98250;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .carousel__slides {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
  
  .carousel__slide-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .carousel__slide-content h2 {
    margin-top: 0;
  }
  
  .carousel__slide-content p {
    margin-bottom: 0;
  }
  .carousel__slide.active {
    display: block;
  }

  .social__item{
    height: 30px;
  }