.steps{
    background-image: url("../img/background_steps.png");
    background-position-x: 50%, 0%;
    background-position-y: 50%, 0%;
    background-size: cover;
}

.steps__container {
    padding-top: 90px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1200px;
    margin: auto;
    
}