
.header_1 {
    background-color: #FF3C42;
    height: 50px;
    width: 100%;
    margin:0;   
}
.header_1  p{
    margin:0;
}

.networks div{
    background-color: #221617;
    height: 30px;
}
.menu div{
    height: 30px;
    width: 100%;
    align-content: right;
}

.steps{
background-color: #FF3C42;
padding:0;
width: 100%;
border: 0;
}

.steps h2{
    color:white;
}
.steps p{
    color:white;
}

.item p{
    display: inline-block;
  }

.steps_left {
    text-align: left;
    width: 40%;
  }
  
  .steps_right {
    text-align: right;
    width: 40%;
  }